body{
    background-color: #efefef;
    margin: 0 auto;
   background-image: url(../img/nature-walp.png);
  background-size: ;
  background-repeat: no-repeat;
  background-position: top;
  
  
}

.main{
  margin: 0 auto;
  
  width: 250px !important;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 3%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  font-size: 21px;
}
#calc-img{
  width: 200px;
  height: 140px;
  position: absolute;
  top:-130px;
  left: calc(50% - 65px);
  z-index: 1;
} 
  
.res{
  border-style: none;
  outline: none;
  resize: none;
  
}

.cell{
  width: 50px !important;
  height: auto;
}

.btn-user{
  border-style: none;
  background: none;
  color: white;
  font-weight: bold;
  outline: none !important;
  cursor: pointer;
  
}